<nav>
    <div class="site-title">
        <a href="/"><h1>Chat</h1></a>
        <p>chat globale</p>
    </div>
    <ul>       
         <li><a href="/">chat</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/blogs/create">manda nuovo messaggio</a></li>
    </ul>
</nav>
