<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %> 
    <div class="create-blog content">
        <form action="/blogs" method="POST">
            <center>
            <label for="snippet">IL TUO NOME:</label>
            <input type="text" id="testo" name="testo" required>
            <label for="body">MESSAGIO</label>
            <textarea id="body" name ="body"required></textarea>
            <button>Submit</button>
        </center>
        </form>
    </div>
</body>
</html>
