<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
        <h2>Chat globale</h2>
        
      <% if (blogs.length>0) { %>

           <% blogs.forEach(blog => { %>
             
            <h5 class="title"> <%= blog.title %> </h3>
            <p class="testo">  <%= blog.testo %>   </p>
            <p></p>

      <% }) %> 
      <% }else  {%> 
            <h1> Non ci sono blog al moemento</h1>
        <% }%> 
    </div>
</body>
</html>
